      <div class="columns is-centered">
        <div class="column is-9">
          <div id="cityFocusMiddle" class="columns is-centered is-vcentered has-text-white has-text-weight-medium">
          </div>
        </div>
      </div>