      <div class="columns is-centered has-text-white has-text-weight-bold">
         <div class="column is-11">
            <div id="dailySummary" class="columns">
            </div>
         </div>
      </div>