    <header class="columns">
      <div class="column is-one-third mt-5">
        <a href="/"><img src="/images/logo.png"/></a>
      </div>
      <div class="column is-one-third mb-0 mt-6 has-text-centered has-text-black has-text-weight-semibold">
        <p id="title" class="is-size-1"></p>
        <p id="subtitle" class="is-size-3"></p>
      </div>
      <div class="column" id="rightSide">
      </div>
    </header>