<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wheather Weather</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico"/>
    <!-- Fetching Bulma and DayJs from CDNs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- Loading data, scripts, and components -->
    <script src="/data/weather_data.js"></script>
    <script src="/js/utilities/getImageSource.js"></script>
    <script src="/js/utilities/capitaliseCityName.js"></script>
    <script src="/js/components/dashboard-city-summary.js"></script>
    <script src="/js/components/day-summary.js"></script>
    <script src="/js/components/weather-image.js"></script>
    <script src="/js/components/max-value-card.js"></script>
    <script src="/js/components/right-now.js"></script>
    {# <script src="/data/data-store.js"></script> #}
    {% if script %}
      <script src="{{ script }}"></script>
    {% endif %}
  </head>
  <body>
    {% include "header.njk" %}
    <main>
    {{ content | safe }}
    </main>
  </body>
</html>