    <div class="columns is-centered has-text-white has-text-weight-bold">
      <div class="column is-7">
        <main class="columns is-multiline is-centered is-vcentered">
        </main>
      </div>
    </div>